<% @posts.each do |p| %>
  <h3>Title <%= p.title %></h3>
  <h6>Author <%= p.user_id %></h6>
  <small>
    <%= p.id %>
  </small>
  <article>
     <%= p.body %>
  </article>
  <small>
    <%= p.category %>
  </small><br>
  <a href="/posts/<%= p.id %>">Comment on this post</a>
  <a href="/posts/<%= p.id %>">View post</a>
  <hr>
<% end %>
